:root {
  --main-bg-color: rgb(29,29,36);
  --main-bg-color: linear-gradient(90deg, rgba(29,29,36,1) 0%, rgba(1,9,10,1) 0%, rgba(2,0,36,1) 100%);
  --sec-bg-color: rgb(0,212,255);
  --sec-bg-color: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 100%);

}

body{
  margin: 0 auto;
  color:white;
}

.cabecera{
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  background: var(--main-bg-color);
}

h1{
  display:inline-block;
  font-weight: 700;
}

.navegacion{
  height: 2.5rem;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  background: var(--main-bg-color);
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Architects Daughter', cursive;
}

#navegacionCasas{
  height: 2.5rem;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  background: var(--main-bg-color);
  justify-content: space-between;
  align-items: center;
  display: none;
  flex-wrap: nowrap;
  font-family: 'Architects Daughter', cursive;
}

.enlace{
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  transition: 0.5s;
}

.enlace:hover{
  color:yellow;
}

.tituloPP{
  margin:0;
  padding: .6rem;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
  display: inline-block;
}

.Pprincipales{
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  margin: 0 auto;
  background: var(--sec-bg-color);
}

.imagenesCasas{
  width: 23%;
  margin:1%;
  height: 20rem;
  transition: transform .2s;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 22px -5px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 22px -5px rgba(255,255,255,1);
  box-shadow: 0px 0px 22px -5px rgba(255,255,255,1);
}

.contenedorImagenes{
  padding:2rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  background: var(--sec-bg-color);
  height: auto;
}

#imagen{
  width: 9rem;
  height: 9rem;
  /* margin: 0.4rem; */
  border-radius: 5%;
}


.contenedor{
  background: var(--sec-bg-color);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Architects Daughter', cursive;
  /* height: 100%; */
}

.info{
  margin:0.5rem;
}

.caja{
  text-align: center;
  background: var(--main-bg-color);
  width: 18%;
  height: auto;
  box-sizing: border-box;
  margin: 1%;
  margin-bottom: 1rem;
  border-radius: 3%;
  -webkit-box-shadow: 2px 3px 13px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 13px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 13px 1px rgba(0,0,0,0.75);
  cursor: pointer;
  transition: transform .2s;
}

.caja:hover{
  transform: scale(1.05); 
}

.infoTarjeta p{
  margin: 0.4rem;
}

.contenedorImagenes2{
  display: flex;
  height: auto;
  /* position: relative; */
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  background: var(--sec-bg-color);
}

.contenedorImagen2{
  width: 23%;
  margin:1%;
  position: relative;
}

.contenedorImagen2 img{
  width: 100%;
  height: 20rem;
}

.textoTarjeta{
  font-family: 'Architects Daughter', cursive;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.contenedorImagen2:hover .infoTarjeta2{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.infoTarjeta2{
  position: absolute;
  bottom: 0.3rem;
  left: 0.2rem;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 99%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.7s ease;
  transition: 0.6s ease;
  margin: 0;
  border-radius: 1%;
}

@media screen and (max-width: 900px) {
  .caja{
      width: 23%;
      margin: 1%;
  }
}

@media screen and (max-width: 767px) {
  .caja{
      width: 31%;
      margin: 1%;
  }
  .contenedorImagen2{
    width: 46%;
    margin:2%;
    height: 20rem;
  }
}

@media screen and (max-width: 590px) {
  .caja{
      width: 48%;
      margin: 1%;
  }
}

@media screen and (max-width: 370px) {
  .caja{
      width: 98%;
      margin: 1%;
  }
  .contenedorImagen2{
    width: 96%;
    margin:2%;
    height: 20rem;
  }

}